<main>
  <div class="about">
    <h1>About me</h1>
    <div class="content">
      <h2>タスマネとは</h2>
      <p>タスマネとは、日々積み重ねているタスクを記録して自分の頑張りを可視化できるサービスです。</p><br>
      <p>そしてその記録をユーザー通しで確認することができ、お互いを励ましあいながらタスク進行のモチベーション維持
        の手助けもしてくれます</p>

    </div>

    <div class="content">
      <h2>タスマネ誕生の経緯</h2>
      <p>僕の日々のサボり癖を直すため＆みんなに励まされながらタスクをやっていきたいという願望からです笑</p>

    </div>

    <div class="content">
      <h2>タスマネを使ってくれる皆様へ</h2>
      <p>厳しいフィードバックや提案などは随時受け付けております<%= link_to("(@agepiitweets)","https://twitter.com/agepiitweets") %>。</p><br>
      <p>僕の技術でこたえられる限り応えていきたいと思っています。</p><br>
      <p>よろしくお願いします。</p><br>

    </div>



  </div>
</main>
