<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
<main>
  <div class="aboutus-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="aboutus-image float-left hidden-sm"><img src="https://devitems.com/preview/sopnovilla/sopnovilla/img/about/1.jpg" alt=""></div>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="aboutus-content ">
              <h1>aboutus <span>Sopno</span></h1>
              <h4>Property Details</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has oots in a piece of classitin literature from 45 BC, making it over 2000 years old. Richard McClint professor at Hamden dney College irginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>

              <div class="counter ">

                <div class="single-counter text-center">
                  <h2 class="counter">1500</h2>
                  <p>Square Feet</p>
                </div>

                <div class="single-counter text-center">
                  <h2 class="counter">10</h2>
                  <p>Bedrooms</p>
                </div>

                <div class="single-counter text-center">
                  <h2 class="counter">5</h2>
                  <p>Bathrooms</p>
                </div>

                <div class="single-counter text-center">
                  <h2 class="counter">6</h2>
                  <p>Car Parking</p>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
