<div class="top-main">
  <div class="bg-mask">
    <div class="top-message">
      <h2>簡易的なタスク記録アプリ</h2>
    </div>
    <div class="top-about">
      <p>タスクマネージャーであなたが頑張ったタスクを記録してシェアしよう。可視化された毎日の積み重ねがあなたの頑張りをサポートします</p>

    </div>



    <button type="button" class="btn btn-primary btn-lg">新規ユーザー登録</button>


  </div>
</div>
