<div class="main records-index">
  <div class="container">
    <% @records.each do |record| %>
      <div class="records-index-item">
        <div class="user-left">
          <img src="<%= "/user_images/#{record.user.image_name}" %>">

        </div>
        <div class="task-name">
          <%= link_to(record.task,"/posts/#{record.id}") %>

        </div>

        <div class="task-time">
          <%= record.hour %>h<%= record.minute %>m

        </div>

      </div>
    <% end %>
  </div>
</div>
